<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pacientes</title>
		<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}">
		<link rel="stylesheet" th:href="@{/vendors/adminlte/css/adminlte.min.css}">
		<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
		<div class="wrapper">
			<div th:replace="~{frags/navs :: main}"></div>
			<div th:replace="~{frags/asides :: main}"></div>
			<div class="content-wrapper">
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Pacientes</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a th:href="@{/patients}">Pacientes</a></li>
									<li class="breadcrumb-item active">Editar</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<form method="post" th:action="@{/patients/update}" th:object="${patient}" autocomplete="off">
										<div class="card-header">
											<h5 class="card-title m-0"><i class="fas fa-pen fa-sm mr-2"></i>Editar</h5>
										</div>
										<div class="card-body">
											<div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
												<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
												<h6><i class="icon fas fa-exclamation-triangle"></i>Atenção!</h6>
												<div th:each="error : ${#fields.errors('*')}" th:text="${error}" class="text-sm"></div>
											</div>
											<input type="hidden" th:field="*{id}">
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">CPF</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control input cpf" th:field="*{cpf}" th:classappend="${#fields.hasErrors('cpf')} ? is-invalid">
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-id-card"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-5">
													<div class="form-group">
														<label for="name">Nome completo</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control input" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? is-invalid">
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-user"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="name">Nome social</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control input" th:field="*{socialName}" th:classappend="${#fields.hasErrors('socialName')} ? is-invalid">
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-signature"></i></span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Cartão do SUS</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control input" th:field="*{susId}" th:classappend="${#fields.hasErrors('susId')} ? is-invalid">
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-id-card"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Data de nascimento</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control input date" th:field="*{demographic.birth}" th:classappend="${#fields.hasErrors('demographic.birth')} ? is-invalid">
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-calendar"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Identidade de gênero</label>
														<div class="input-group mb-3">
															<select class="form-control input select" th:field="*{demographic.gender}" th:classappend="${#fields.hasErrors('demographic.gender')} ? is-invalid">
																<option th:value="NULL">Selecione</option>
																<option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender.getDescription()}"></option>
															</select>
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Concordância de gênero</label>
														<div class="input-group mb-3">
															<select class="form-control input select" th:field="*{demographic.modality}" th:classappend="${#fields.hasErrors('demographic.modality')} ? is-invalid">
																<option th:value="NULL">Selecione</option>
																<option th:each="modality : ${modalities}" th:value="${modality}" th:text="${modality.getDescription()}"></option>
															</select>
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-exchange-alt"></i></span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Orientação sexual</label>
														<div class="input-group mb-3">
															<select class="form-control input select" th:field="*{demographic.orientation}" th:classappend="${#fields.hasErrors('demographic.orientation')} ? is-invalid">
																<option th:value="NULL">Selecione</option>
																<option th:each="orientation : ${orientations}" th:value="${orientation}" th:text="${orientation.getDescription()}"></option>
															</select>
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-heart"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Estado civíl</label>
														<div class="input-group mb-3">
															<select class="form-control input select" th:field="*{demographic.marital}" th:classappend="${#fields.hasErrors('demographic.marital')} ? is-invalid">
																<option th:value="NULL">Selecione</option>
																<option th:each="marital : ${maritalStatus}" th:value="${marital}" th:text="${marital.getDescription()}"></option>
															</select>
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-ring"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Religião</label>
														<div class="input-group mb-3">
															<select class="form-control input select" th:field="*{demographic.religion}" th:classappend="${#fields.hasErrors('demographic.religion')} ? is-invalid">
																<option th:value="NULL">Selecione</option>
																<option th:each="religion : ${religions}" th:value="${religion}" th:text="${religion.getDescription()}"></option>
															</select>
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-pray"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Etnia</label>
														<div class="input-group mb-3">
															<select class="form-control input select" th:field="*{demographic.ethnicity}" th:classappend="${#fields.hasErrors('demographic.ethnicity')} ? is-invalid">
																<option th:value="NULL">Selecione</option>
																<option th:each="ethnicity : ${ethnicities}" th:value="${ethnicity}" th:text="${ethnicity.getDescription()}"></option>
															</select>
															<div class="input-group-append">
																<span class="input-group-text"><i class="fas fa-globe-americas"></i></span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<div class="form-group">
														<label for="name">Nome da mãe</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control input" th:field="*{motherName}" th:classappend="${#fields.hasErrors('motherName')} ? is-invalid">
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-female"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label for="name">Celular</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control input cellphone" th:field="*{contact.cellphone}" th:classappend="${#fields.hasErrors('contact.cellphone')} ? is-invalid">
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-mobile"></i></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="name">E-mail</label>
														<div class="input-group mb-3">
															<input type="email" class="form-control input" th:field="*{contact.email}" th:classappend="${#fields.hasErrors('contact.email')} ? is-invalid">
															<div class="input-group-append">
																<span class="input-group-text"><i class="fa fa-envelope"></i></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="card-footer">
											<button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm mr-2"></i>Salvar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div th:replace="~{frags/footers :: main}"></div>
		</div>
		<script th:src="@{/vendors/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendors/inputmask/js/inputmask.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.min.js}"></script>
		<script th:src="@{/js/masks.js}"></script>
	</body>
</html>