<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
			<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment="main">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="">
							<i class="far fa-user"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
							<span class="dropdown-item dropdown-header">Root</span>
							<div class="dropdown-divider"></div>
							<a th:href="@{/logout}" class="dropdown-item">
								<i class="fas fa-power-off fa-sm mr-2"></i>Sair
							</a>
						</div>
					</li>
				</ul>
			</nav>
			<nav class="main-header navbar navbar-expand-md navbar-light navbar-white" th:fragment="clean">
				<div class="container">
					<a th:href="@{/}" class="navbar-brand">
                        <img th:src="@{/images/logo.png}" alt="EHR" class="brand-image">
                        <span class="brand-text">EHR</span>
                    </a>
                    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
	</body>
</html>