<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Conflito</title>
		<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}">
		<link rel="stylesheet" th:href="@{/vendors/adminlte/css/adminlte.min.css}">
	</head>
	<body class="hold-transition layout-top-nav layout-navbar-fixed layout-footer-fixed">
		<div class="wrapper">
			<div th:replace="~{frags/navs :: clean}"></div>
            <div class="content-wrapper">
            	<section class="content-header">
            		<div class="container-fluid"></div>
            	</section>
            	<section class="content">
            		<div class="error-page">
            			<h2 class="headline text-info">409</h2>
            			<div class="error-content">
            				<h3><i class="fas fa-clone fa-sm text-info mr-2"></i>Conflito</h3>
            				<p>
            					Estamos tendo um pequeno conflito de informações. O que você está tentando fazer conflita com algo que temos salvo.
            					Dê uma conferida nos dados ou <a th:href="@{/}">retorne para a página inicial</a>.
            				</p>
            				<a th:href="@{/}" class="btn btn-info btn-block"><i class="fa fa-home fa-sm mr-2"></i>Início</a>
            			</div>
            		</div>
            	</section>
            </div>
            <div th:replace="~{frags/footers :: main}"></div>
        </div>
        <script th:src="@{/vendors/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.min.js}"></script>
	</body>
</html>
